@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --color:#34B0BE;
    --color:#D1CECA;
    --color:#242635;
    --color:#FFFFFF;
    --color-primary: rgb(220, 53, 69);
    --color: #090b1e;
    --color-primary-shadow: rgb(220, 53, 69, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;  
}

imag {
    display: block;
    width: 100%;
} 

body {
    padding: 2rem;
     background-color: #090b1e; 
     font-family: 'Montserrat', sans-serif; 
    display: flex; 
}
 
img .img__mobile{
    display: block; 
}

/* img .img__desktop {
    display: none; 
} */

.body {
   margin-top: 2rem;
} 

.cards {
   /* max-width: 1200px; */
   background-color: red;
   /* margin: 0 auto; */
   /* border-radius: 2rem; */
   overflow: hidden;
   padding: 2rem;
   justify-content: center;
   flex-direction: column;
   gap: 1rem;
}

.card {
    min-height: 100vh;
    background-image: url(./Logos-\ Imágenes/.img__desktop);
}

/* .card__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
} */

/* .body__headers,
.card__folios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
    gap: 1rem;
} */

    /* imag */

.card__photo {
    display: grid;
    justify-content: center;
    background-color:#242635; 
    border-radius: 90vh;
    width: 325px;
}

    /* laboral */

.card__laboral p {
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.card__laboral h1 {
    color: #34B0BE;
    display: flex;
    justify-content: space-around;
    width: 100%;  
}

.card__subtitles h3 {
    color: #FFFFFF;
    text-align: center;
}

.card__laboral h5 {
    text-align: center;
    color: #FFFFFF;
}

.card__laboral span {
    color: #34B0BE;
}


    /* logos */


.card__logos {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card__logo__item {
    background-color: #D1CECA;
    padding: 0.5rem;
}
    
 .centerPerfect {
    border-radius: 100%;
    display: flex;
 }


    /* social */

    

.card__social {
    display: flex;
    border-radius: 3vh;
    justify-content: center;
    gap: 2rem;
    background-color: #242635;
}

.card__social__item1 {
    text-align: center;
    background-color: #D1CECA;
    min-width: 20vh;
    border-radius: 3vh; 
    padding: 0.5rem;
}

.card__social__item2 {
    text-align: center;
    border-radius: 3vh;
    min-width: 20vh;
    background-color: #D1CECA;
    padding: 0.5rem;
}

.card__social__item3 {
    text-align: center;
    border-radius: 3vh;
    min-width: 20vh;
    background-color: #D1CECA;
    padding: 0.5rem;
}


    /* acerca de mi */

.card__title2 h2 {
    font-size: 1.6rem;
    text-align: center;
    color: #34B0BE;
}

.card__title2 p {
    color: #D1CECA;
    justify-content: center;
}


    /* servicios */

.card__title3 h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 3%;
    color: #34B0BE;
}
.card__iconos {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.card__icono-pen{
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 0.3rem;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 200;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__icono-speak {
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 0.3rem;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 200;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__icono-sear {
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 0.3rem;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 200;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__icono-pen span {
    color: #090b1e;
    font-size: 20px; 
}

.card__icono-pen {
    color:#d3d4d9;
}

.card__icono-speak span {
    color: #090b1e;
    font-size: 20px; 
}

.card__icono-speak {
    color:#d3d4d9;
}

.card__icono-sear span {
    color: #090b1e;
    font-size: 20px; 
}

.card__icono-sear {
    color:#d3d4d9;
}

   /* mis habilidades */

.card__word {
    text-align: center;
    padding: 3%;
}

.cajon__tittle h2 {
    font-size: 1.6rem;
    color: #34B0BE; 
}

.cajon {
    width: 100%;
    padding: 30px 30px 50px;
    background: linear-gradient(450deg,red);
    border: 2px solid rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.cajon *{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
}


h2 {
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.skills:not(:last-child) {
    margin-bottom: 30px;
}

.detalles {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.detalles span {
    color: #34B0BE;  
}

.menu {
    position: relative;
    border: 1px solid #34B0BE ;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.menu div {
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: #34B0BE;
}

    /* animacion  */

#Marketing-menu {
    animation: Marketing-barra 2s forwards;
}

@keyframes Marketing-barra {
    100% {
        width: 95%;
    }
}

#UI-Desing-menu {
    animation: UI-Desing-barra 2s forwards;

}

@keyframes UI-Desing-barra {
    100% {
        width: 95%;
    }
}

#UX-Research-menu {
    animation: UX-Research-barra 2s forwards;

}

@keyframes UX-Research-barra {
    100% {
        width: 80%;
    }
}


   /* mi portafolio */


.card__title4 {
    text-align: center;
    padding: 3%;
   }

.card__title4 h2 {
    font-size: 1.6rem;
    color: #34B0BE   
}

.card__folios {
    display: flex;
    gap: 2rem;
}

    /* contacto */


.card__title5 h2 {
    font-size: 1.6rem;
    text-align: center;
    padding: 2%;
    color: #34B0BE;
}

.card__phonee {
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 200;
    padding: 2rem;
}

.card__phonee-img {
font-size: 3rem;
font-weight: bold;
}

.card__phonee p {
   color: #090b1e; 
}
.card__phonee-number2 span {
    color:#d3d4d9;

}

.card__email {
    background-color: #FFFFFF;
    justify-content: center;
    border-radius: 1rem;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    font-weight: 200;
    padding: 2rem;
}

.card__email p {
    color: #090b1e; 
}
.card__email span {
    color:#d3d4d9; 
}

